/* Typography */
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

/* Pricing Section */
.btn:hover {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0)
  );
  color: hsl(237, 63%, 64%);
}
  
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
  
.checkbox {
  display: none;
}
  
.label {
  position: relative;
  background: linear-gradient(120deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  margin: 0 20px;
  width: 50px;
  height: 26px;
  cursor: pointer;
}
  
.name {
  font-size: 14px;
  color: hsl(234, 14%, 74%);
}
  
.ball {
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: transform 0.15s linear;
}
  
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
  
.attribution {
  margin-top: 1.5rem;
  font-size: 12px;
  text-align: center;
}
  
.attribution a {
  color: hsl(228, 45%, 44%);
}
  
  